
@{
    ViewBag.Title = "Necklece";
}

<h2>Energy Necklece</h2>

<img src="~/Content/Images/halsmen.jpg"/>

<h4>Description</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor posuere ligula sit amet finibus. Maecenas sed finibus arcu, quis efficitur quam. Ut libero augue, porttitor vehicula lectus id, aliquet tempor nulla. Morbi lorem ante, tempus nec ultricies nec, aliquam sit amet nibh. Sed tincidunt consequat diam ac pellentesque. Nulla ac eros et erat malesuada ultrices id tempus leo. Pellentesque mauris sem, iaculis sed vehicula in, malesuada sit amet lacus. Maecenas dui magna, feugiat sed tempor ut, vehicula eu lacus.</p>
<h4>100$</h4>